@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
      font-family: "Outfit", sans-serif;
}
#slider::-webkit-scrollbar{
      display: none;
}
#categary::-webkit-scrollbar{
      display: none;
}